ckanext/fototeca/__pycache__/
ckanext-fototeca/ckanext/fototeca/__pycache__
ckanext/fototeca/__pycache__/__init__.cpython-39.pyc
ckanext/fototeca/__pycache__/plugin.cpython-39.pyc
ckanext_fototeca.egg-info/PKG-INFO
ckanext/fototeca/harvesters/__pycache__/
