{
    "api_version":2,
    "clean_tags":false,
    "default_groups":[
       "vuelos"
    ],
    "default_tags":[
       {
          "name":"Federated Catalog Sample"
       }
    ],
    "default_extras":{
       "encoding":"utf8",
       "harvest_description":"Harvesting from Federated Catalog Sample",
       "harvest_url":"{harvest_source_url}/dataset/{dataset_id}"
    },
    "override_extras":false,
    "organizations_filter_include":[
       
    ],
    "groups_filter_include":[
       "vuelos-fotogrametricos"
    ],
    "user":"ckan_admin",
    "api_key":"",
    "read_only":true,
    "remote_groups":"only_local",
    "remote_orgs":"only_local",
    "default_group_dicts":[
       
    ],
    "schema":"fototeca",
    "allow_harvest_datasets":false,
    "field_mapping_schema_version":2,
    "dataset_field_mapping":{
       "identifier":{
          "field_name":"id"
       },
       "name":{
          "field_name":"name"
       },
       "title_translated":{
          "languages":{
             "es":{
                "field_name":"title"
             },
             "en":{
                "field_name":null
             }
          }
       },
       "created":{
          "field_name":"metadata_created"
       },
       "modified":{
          "field_name":"metadata_modified"
       },
       "private":{
          "field_value":null
       },
       "graphic_overview":{
          "field_value":null
       },
       "notes_translated":{
          "languages":{
             "es":{
                "field_name":"notes"
             },
             "en":{
                "field_name":null
             }
          }
       },
       "dcat_type":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/ResourceType/dataset"
       },
       "theme_es":{
          "field_value":"http://datos.gob.es/kos/sector-publico/sector/medio-ambiente"
       },
       "theme":{
          "field_value":"http://inspire.ec.europa.eu/theme/oi"
       },
       "language":{
          "field_value":"http://publications.europa.eu/resource/authority/language/SPA"
       },
       "topic":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/environment"
       },
       "tag_string":{
          "field_value":[
             "Ortoimagen",
             "Spain",
             "\u00c1mbito espacial",
             "Fototeca Digital",
             "Vuelo fotogram\u00e9trico",
             "Fotograma"
          ]
       },
       "tag_uri":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/imageryBaseMapsEarthCover"
       },
       "contact_name":{
          "field_value":"Federated Catalog Sample"
       },
       "contact_email":{
          "field_value":"informacion.sample@example.es"
       },
       "contact_url":{
          "field_value":"https://www.example.org/organization"
       },
       "contact_uri":{
          "field_value":"http://datos.gob.es/recurso/sector-publico/org/Organismo/A01002820"
       },
       "hvd_category":{
          "field_value":"http://data.europa.eu/bna/c_dd313021"
       },
       "author_name":{
          "field_name":"author_name"
       },
       "author_email":{
          "field_name":"author_email"
       },
       "author_url":{
          "field_value":null
       },
       "author_uri":{
          "field_value":null
       },
       "maintainer_name":{
          "field_name":"maintainer"
       },
       "maintainer_email":{
          "field_name":"maintainer_email"
       },
       "maintainer_url":{
          "field_value":null
       },
       "maintainer_uri":{
          "field_value":"http://datos.gob.es/recurso/sector-publico/org/Organismo/E00125901"
       },
       "publisher_name":{
          "field_value":"Federated Catalog Sample"
       },
       "publisher_email":{
          "field_value":"informacion.sample@example.org"
       },
       "publisher_url":{
          "field_value":"https://www.example.org/organization"
       },
       "publisher_uri":{
          "field_value":"http://datos.gob.es/recurso/sector-publico/org/Organismo/A01002820"
       },
       "publisher_type":{
          "field_value":"http://purl.org/adms/publishertype/RegionalAuthority"
       },
       "inspire_id":{
          "field_value":null
       },
       "alternate_identifier":{
          "field_value":null
       },
       "conforms_to":{
          "field_value":[
             "http://inspire.ec.europa.eu/documents/inspire-metadata-regulation",
             "http://inspire.ec.europa.eu/documents/commission-regulation-eu-no-13122014-10-december-2014-amending-regulation-eu-no-10892010-0",
             "https://www.boe.es/eli/es/res/2013/02/19/(4)"
          ]
       },
       "metadata_profile":{
          "field_value":[
             "http://semiceu.github.io/GeoDCAT-AP/releases/3.0.0",
             "http://inspire.ec.europa.eu/document-tags/metadata",
             "https://semiceu.github.io/DCAT-AP/releases/3.0.0"
          ]
       },
       "temporal_start":{
          "field_name":"extras_fecha"
       },
       "temporal_end":{
          "field_name":"extras_fecha"
       },
       "provenance":{
          "languages":{
             "es":{
                "field_value":"Conjunto de datos cosechado de https://ws089.example.org/fototeca/catalogo"
             },
             "en":{
                "field_value":"Dataset harvested from https://ws089.example.org/fototeca/catalogo"
             }
          }
       },
       "frequency":{
          "field_value":"http://publications.europa.eu/resource/authority/frequency/ANNUAL_3"
       },
       "lineage_source":{
          "field_value":"Las tomas fotogr\u00e1ficas para los vuelos PNOA son verticales. Para recubrir la zona del territorio y obtener ortofotograf\u00edas, la trayectoria que debe reccorer un avi\u00f3n tiene que tener solape, tanto en la direcci\u00f3n del avance del vuelo como entre las pasadas adyacentes. En PNOA la configuraci\u00f3n de las pasadas generalmente es Este-Oeste. El recubrimiento longitudinal es del 60 % y el transversal es  mayor o igual al 30 %.  La superposici\u00f3n nos permite la formaci\u00f3n de modelos tridimensionales para aplicar a las im\u00e1genes las rectificaciones por los efectos del relieve."
       },
       "source":{
          "field_value":"https://centrodedescargas.cnig.es/CentroDescargas/index.jsp"
       },
       "lineage_process_steps":{
          "field_value":[
             "Planificaci\u00f3n del vuelo fotogram\u00e9trico.",
             "Ejecuci\u00f3n del vuelo con pasadas longitudinales y transversales.",
             "Proceso de ortorrectificaci\u00f3n en el que se pasa de una imagen con proyecci\u00f3n c\u00f3nica a otra con proyecci\u00f3n ortogonal."
          ]
       },
       "reference":{
          "field_name":null
       },
       "temporal_resolution":{
          "field_value":null
       },
       "encoding":{
          "field_value":"UTF-8"
       },
       "spatial":{
          "field_name":null
       },
       "spatial_uri":{
          "field_value":"http://datos.gob.es/recurso/sector-publico/territorio/Pais/Espa\u00f1a"
       },
       "representation_type":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/SpatialRepresentationType/grid"
       },
       "spatial_resolution_in_meters":{
          "field_name":"extras_escala"
       },
       "license_id":{
          "field_name":"license_id"
       },
       "access_rights":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/LimitationsOnPublicAccess/noLimitations"
       },
       "reference_system":{
          "field_name":null
       },
       "version":{
          "field_name":"version"
       },
       "version_notes":{
          "field_value":null
       },
       "valid":{
          "field_value":null
       },
       "groups":{
          "field_value":null
       },
       "purpose":{
          "languages":{
             "es":{
                "field_value":"Fototeca digital del sample. Test de cosecha."
             },
             "en":{
                "field_value":"sample digital photo library. Harvest test."
             }
          }
       },
       "flight_code":{
          "field_name":"extras_id-vuelo"
       },
       "flight_frames":{
          "field_name":"extras_numero-fotogramas"
       },
       "flight_type":{
          "field_name":"extras_tipo-vuelo"
       },
       "flight_color":{
          "field_name":"extras_color"
       },
       "flight_typology_translated":{
          "languages":{
             "es":{
                "field_name":"extras_tipologia-vuelo"
             }
          }
       },
       "flight_spatial":{
          "field_name":"extras_spatial"
       }
    },
    "distribution_field_mapping":{
       "dataset_id":{
          "field_name":"id"
       },
       "url":{
          "field_name":"url"
       },
       "created":{
          "field_name":"created"
       },
       "name":{
          "field_name":"name"
       },
       "description":{
          "field_name":"description"
       },
       "encoding":{
          "field_value":"UTF-8"
       },
       "availability":{
          "field_value":"http://publications.europa.eu/resource/authority/planned-availability/OP_DATPRO"
       },
       "issued":{
          "field_value":null
       },
       "modified":{
          "field_value":null
       },
       "language":{
          "field_value":"http://publications.europa.eu/resource/authority/language/SPA"
       },
       "rights":{
          "field_value":"http://inspire.ec.europa.eu/metadata-codelist/LimitationsOnPublicAccess/noLimitations"
       },
       "format":{
          "field_name":"format"
       },
       "status":{
          "field_value":null
       },
       "size":{
          "field_value":null
       },
       "resource_relation":{
          "field_value":null
       },
       "license":{
          "field_name":"license"
       },
       "conforms_to":{
          "field_name":"conforms_to"
       },
       "reference_system":{
          "field_value":null
       }
    }
 }