{% macro render_field(field) %}
    {% set label = None %}
    {% if field.choices %}
        {% set choices = h.scheming_field_choices(field) %}
       {% if pkg_dict[field.field_name] %}
            {% set search_url = h.url_for('dataset.search', **{field.field_name: pkg_dict[field.field_name]}) %}
            {% set label_text = h.scheming_choices_label(choices, pkg_dict[field.field_name]) %}
            {% set label = '<a href="' ~ search_url ~ '" target="_blank">' ~ label_text ~ '</a>' %}
        {% endif %}
    {% else %}
        {% if pkg_dict.get(field.field_name) %}
            {% set label = pkg_dict[field.field_name] %}
        {% endif %}
    {% endif %}

    {% if label %}
        <tr>
            <td>{{ h.scheming_language_text(field.label) }}</td>
            <td>
                {% if field.field_name == 'flight_spatial' %}
                    <div class="block-code fototeca-code">
                        {{ label | safe }}
                    </div>
                {% else %}
                    {{ label | safe }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% block fototeca_info %}
    {% set dataset_fields = h.schemingdcat_get_dataset_schema(dataset_type).dataset_fields %}
    {% set filtered_fields = [] %}
    {% for field in dataset_fields %}
        {% if field.field_name.startswith('flight_') or field.field_name.startswith('fototeca_')%}
            {% set filtered_fields = filtered_fields.append(field) %}
        {% endif %}
    {% endfor %}

    <section class="module module-narrow module-shallow publisher_info">
        <h2 class="module-heading"><i class="fa fa-camera-retro"></i> {{ _('Fototeca Digital') }}</h2>

        <table class="table">
            <tbody>
                {% for field in filtered_fields %}
                    {{ render_field(field) }}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}