{% ckan_extends %}

{% block header_account_container_content %}
    {{ super() }}
        <a href="https://www.ign.es/web/ign/portal" target="_blank" rel="noopener noreferrer" title="IGN"><img class="ign-banner" src="{{ h.url_for_static("/fototeca/banner-ign.png") }}"></a>
        <img class="ign-banner-small" src="{{ h.url_for_static("/fototeca/IGN-Footer-Ball.png") }}">
{% endblock %}

{% block header_logo %}
    <a href="{{ h.url_for('home.index') }}"><div class="visor-title">
        <div class="logo-fototeca">
            <img class="fototeca-logo" src="{{ h.url_for_static("/fototeca/foto-icon.svg") }}">
        </div>
        <div class="label-container">
            <label class="title">{{ _('Digital Fototeca') }}</label>
            <label class="subtitle">{{ _('Open Data portal') }}</label>
        </div>
    </div>
    </a>
{% endblock %}