{% ckan_extends %}

{% block header_logo %}
    <a href="{{ h.url_for('home.index') }}" class="uri">
        <div class="visor-title">
            <div class="logo-fototeca">
                <img class="fototeca-logo" src="{{ h.url_for_static("/fototeca/logoPD_Fototeca.svg") }}" alt="Fototeca Logo">
            </div>
            <div class="label-container">
                <label class="title">{{ _('Federated Fototeca') }}</label>
                <label class="subtitle">{{ _('Open Data portal') }}</label>
            </div>
        </div>
    </a>
{% endblock %}