.container .row .row1 .col-md-12{
    align-items: center; 
    column-gap: 5px;   
    display: flex;
    align-items:center;
}

.container .col-md-12 .box{
    width: 25%;
    float: left;
}

.homepage .module-search.box {
    width: 70%;
    float: right;
}

a.endpoints_layout1{
    width: 180px
}